<div class="system_table">
    <table>
        <thead>
            <tr>
                <th>序号</th>
                <th>用户名</th>
                <th>密码</th>
                <th>用户角色</th>
                <th>登录许可</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of table_list; let i = index">
                <td width="60">{{(i+1)}}</td>
                <td><input type="text" class="text" [disabled]="true" value={{item.name}}/></td>
                <td><input type="password" class="text" [disabled]="item.readonly" value={{item.password}}/></td>
                <td><input type="text" class="text" [disabled]="item.readonly" value={{item.role}}/></td>
                <td><input type="text" class="text" [disabled]="item.readonly" value={{item.xk}}/></td>
                <td width="80"><button *ngIf="item.readonly" (click)="doFix(i)">编辑</button><button (click)="doSave(i)" *ngIf="!item.readonly">保存</button></td>
            </tr>
        </tbody>
    </table>
</div>