<div class="system_table">
    <button (click)="addlist()">添加</button>
    <table>
        <thead>
            <tr>
                <th>序号</th>
                <th>用户名</th>
                <th>短信</th>
                <th>微信</th>
                <th>Email</th>
                <th>报警类型</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of table_list; let i = index">
                <td width="60">{{(i+1)}}</td>
                <td><input type="text" class="text" [(ngModel)]="item.name" [disabled]="item.new=='new'?false:true" value={{item.name}}/></td>
                <td><input type="text" class="text" [(ngModel)]="item.dx" [disabled]="item.readonly" value={{item.dx}}/></td>
                <td><input type="text" class="text" [(ngModel)]="item.wx" [disabled]="item.readonly" value={{item.wx}}/></td>
                <td><input type="text" class="text" [(ngModel)]="item.email" [disabled]="item.readonly" value={{item.email}}/>
                    <div *ngIf="item.email==''" class="table_error">邮箱不能为空</div>
                    <div *ngIf="item.email!='' && item.email.indexOf('@')<0" class="table_error">邮箱格式不正确<br/>(例：llb@sohu.com)</div>
                </td>
                <td><input type="text" class="text" [(ngModel)]="item.alarm" [disabled]="item.readonly" value={{item.alarm}}/></td>
                <td width="80"><button *ngIf="item.readonly" (click)="doFix(i)">修改</button><button (click)="doSave(i)" *ngIf="!item.readonly">保存</button></td>
            </tr>
        </tbody>
    </table>
</div>