<div class="system_table">
    <table>
        <thead>
            <tr>
                <th>序号</th>
                <th>用户名</th>
                <th>用户角色</th>
                <th>登录许可</th>
                <th *ngIf="router.url.indexOf('YHGLS')<0">操作</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of table_list; let i = index">
                <td width="60">{{(i+1)}}</td>
                <td><input type="text" class="text" [disabled]="true" value={{item.userName}}/></td>
                <!-- <td><input type="text" class="text" [disabled]="item.readonly" value={{item.roleId}}/></td> -->
                <td><select class="text" [disabled]="item.readonly" (ngModelChange)="roleChange($event,i)" [(ngModel)]="item.roleId">
                        <option *ngFor="let k of role_list" value={{k.roleId}}>{{k.roleId}}</option>
                    </select>
                </td>
                <td><select class="text" [disabled]="item.readonly" (ngModelChange)="selectChange($event,i)" [(ngModel)]="item.delFlg">
                        <option value="0">正常</option>
                        <option value="1">禁止</option>
                    </select>
                </td>
                <td *ngIf="router.url.indexOf('YHGLS')<0" width="80">
                    <button *ngIf="item.readonly" (click)="doFix(i)">编辑</button>
                    <button (click)="doSave(i)" *ngIf="!item.readonly">保存</button>
                    <button class="{{save_disabled?'loading':''}}" (click)="doCancel(i)" *ngIf="!item.readonly" [disabled]="save_disabled">取消</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>