<div class="system_table">
    <button>添加</button>
    <table>
        <thead>
            <tr>
                <th>序号</th>
                <th>用户名</th>
                <th>短信</th>
                <th>微信</th>
                <th>Email</th>
                <th>报警类型</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>张三</td>
                <td>111</td>
                <td>111</td>
                <td>sjsj@qq.com</td>
                <td>I级</td>
                <td><button>修改</button></td>
            </tr>
        </tbody>
    </table>
</div>