<div class="system_table">
<table>
    <tr>
        <td class="system_blue">长期运行</td>
        <td><input type="radio" /></td>
        <td colspan="3"></td>
    </tr>
    <tr>
        <td class="system_blue">定时运行</td>
        <td><input type="radio" /></td>
        <td colspan="2"><input type="text" /></td>
        <td><button>确定</button></td>
    </tr>
    <tr>
        <td class="system_blue">区间运行</td>
        <td><input type="radio" /></td>
        <td><input type="text" /></td>
        <td><input type="text" /></td>
        <td><button>确定</button></td>
    </tr>
</table>
</div>