<div class="moudle_box" *ngIf="config.type==='lmt'">
  <h2><span>{{config.title}}</span><div *ngIf="config.option.length>0"><select [(ngModel)]="searchvalue" (ngModelChange)="searchChange($event)">
    <option value={{item.value}} *ngFor="let item of config.option">{{item.text}}</option>
  </select></div></h2>
  <div class="moudle_box_nr">
    <img src={{mainImgUrl}} class="img-responsive">
  </div>
</div>
<div class="moudle_box" *ngIf="config.type==='cdxt'">
  <h2><span>{{config.title}}</span><div>
    <select [(ngModel)]="value" (ngModelChange)="selectChange($event)">
      <option value={{item.value}} *ngFor="let item of config.option">{{item.text}}</option>
    </select>
  </div></h2>
  <div class="moudle_box_nr"><img src={{imgUrl}} class="img-responsive"></div>
</div>
<div class="moudle_box height478" *ngIf="config.type==='ssqx'">
  <h2><span>{{config.title}}</span><div></div></h2>
  <div class="moudle_box_nr">
    <div class="col-xs-12 col-md-3 padding0"><serial-number (onVoted)="onListen($event)" [serial]="config.serial"></serial-number></div>
    <div class="col-xs-12 col-md-9 padding0"><serial-charts [serial]="chartData"></serial-charts></div>
  </div>
</div>
<div class="moudle_box height478" *ngIf="config.type==='wd'">
  <h2><span>{{config.title}}</span><div></div></h2>
  <div class="moudle_box_nr">
    <ol>
     <img src={{config.img}} class="img-responsive">
    </ol>
  </div>
</div>
