<div class="serial_charts">
  <h2>
    <span>
      <font *ngIf="search">数据分析</font>
      <font *ngIf="!search">{{titleName?titleName:'刷新率10s'}}</font>
    </span>
    <serial-type *ngIf="!noTitle && !search" [serialType]="serialType=='ZLWY'?'SDJC':serialType" [total]="total"></serial-type>
    <div *ngIf="search" class="serial_search">
      <label>开始日期：<input [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1"
                              [(ngModel)]="selectedMoments"
                              [selectMode]="'rangeFrom'"/>
                      <owl-date-time #dt1></owl-date-time>
      </label>
      <label>结束日期：<input [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2"
                              [(ngModel)]="selectedMoments"
                              [selectMode]="'rangeTo'"/>
                      <owl-date-time #dt2></owl-date-time>
      </label>
      <label><button (click)="doSearch()">查询</button></label>
    </div>
  </h2>
  <div [id]="chartId?chartId:'chart'" [class]="chartHeight?chartHeight:'h410'"></div>
  <div class="chart_mask"></div>
</div>
<div class="searchMask" id="searchError">
  <div class="searchMasknr">
    <h4><span>提示</span><a (click)="close()">X</a></h4>
    <p>时间区间不能超过24小时！</p>
  </div>
</div>
