<ol class="serialtype" *ngIf="default">
    <div>24h平均值：{{total.length > 0?total[2].avg:'暂无数据'}}</div>
    <div>24h最大值：{{total.length > 0?total[0].max:'暂无数据'}}</div>
    <div>24h最小值：{{total.length > 0?total[1].min:'暂无数据'}}</div>
    <div>24h方差：{{total.length > 0?total[3].fc:'暂无数据'}}</div>
</ol>

<ol class="serialtype" *ngIf="serialType=='YYL'">
    <div>24h平均值：{{total.length > 0?total[2].avg:'暂无数据'}}</div>
    <div>24h最大值：{{total.length > 0?total[0].max:'暂无数据'}}</div>
    <div>24h最小值：{{total.length > 0?total[1].min:'暂无数据'}}</div>
</ol>

<ol class="serialtype" *ngIf="serialType=='HNTLF'">
    <div>近7天平均值：{{total.length > 0?total[2].avg:'暂无数据'}}</div>
    <div>近7天最大值：{{total.length > 0?total[0].max:'暂无数据'}}</div>
    <div>近7天最小值：{{total.length > 0?total[1].min:'暂无数据'}}</div>
</ol>

<ol class="serialtype" *ngIf="serialType=='FZJC'">
    <div>10min瞬时最大风速和风级：{{total.length > 0?total[0].max:'暂无数据'}}</div>
    <div>10min平均风速和风级：{{total.length > 0?total[2].avg:'暂无数据'}}</div>
</ol>

<ol class="serialtype" *ngIf="serialType=='WD'">
    <div>24h最低值：{{total.length > 0?total[1].min:'暂无数据'}}</div>
    <div>24h最高值：{{total.length > 0?total[0].max:'暂无数据'}}</div>
    <div>24h平均值：{{total.length > 0?total[2].avg:'暂无数据'}}</div>
</ol>

<ol class="serialtype" *ngIf="serialType=='SDJC'">
    <div>24h最小值：{{total.length > 0?total[1].min:'暂无数据'}}</div>
    <div>24h最大值：{{total.length > 0?total[0].max:'暂无数据'}}</div>
    <div>24h平均值：{{total.length > 0?total[2].avg:'暂无数据'}}</div>
</ol>

<ol class="serialtype" *ngIf="serialType=='ZZWY' || serialType=='SSFWY'">
    <div>24h累积值：{{total.length > 0?total[4].sum:'暂无数据'}}</div>
    <div>24h最小值：{{total.length > 0?total[1].min:'暂无数据'}}</div>
    <div>24h最大值：{{total.length > 0?total[0].max:'暂无数据'}}</div>
    <div>24h平均值：{{total.length > 0?total[2].avg:'暂无数据'}}</div>
</ol>

<ol class="serialtype" *ngIf="serialType=='QDWY'">
    <div>24h最小值XY：{{total.length > 0?total[1].min:'暂无数据'}}</div>
    <div>24h最大值XY：{{total.length > 0?total[0].max:'暂无数据'}}</div>
    <div>24h平均值XY：{{total.length > 0?total[2].avg:'暂无数据'}}</div>
</ol>

<ol class="serialtype" *ngIf="serialType=='ZLWY'">
    <div (click)="showEdit()">线形设置</div>
</ol>

<ol class="serialtype" *ngIf="serialType=='DZJC'">
    <div>24h峰值：{{total.length > 0?total[0].max:'暂无数据'}}</div>
    <div>10min峰值：{{total.length > 0?total[0].max:'暂无数据'}}</div>
</ol>

<ol class="serialtype" *ngIf="serialType=='GJFS'">
    <div>本周最小值：{{total.length > 0?total[1].min7Day:'暂无数据'}}</div>
    <div>本周最大值：{{total.length > 0?total[0].max7Day:'暂无数据'}}</div>
    <div>本周平均值：{{total.length > 0?total[2].avg7Day:'暂无数据'}}</div>
</ol>

<ol class="serialtype" *ngIf="serialType=='TDWY'">
    <div>24h最小值XY：{{total.length > 0?total[1].min:'暂无数据'}}</div>
    <div>24h最大值XY：{{total.length > 0?total[0].max:'暂无数据'}}</div>
    <div>24h平均值XY：{{total.length > 0?total[2].avg:'暂无数据'}}</div>
</ol>