<div class="row">
  <div class="col-xs-12 bgWhite">
    <div class="system_nr">
      <p class="system_title" *ngIf="data.title">{{returnTitle(data.title)}}</p>
      <table *ngIf="data.table" class="system_table">
        <thead>
          <tr><th>序号</th><th>名称</th><th>型号</th><th>用途</th><th>数量</th></tr>
        </thead>
        <tbody>
          <tr *ngFor="let s of data.table">
            <td>{{s.id}}</td>
            <td>{{s.name}}</td>
            <td>{{s.type}}</td>
            <td>{{s.use}}</td>
            <td>{{s.num}}</td>
          </tr>
        </tbody>
      </table>
      <img src={{data.img}} *ngIf="data.img" class="img-responsive">
      <div class="system_list">
        <label (click)="showSelect()"><span *ngFor="let k of selected">{{k.name}}</span></label>
        <ul class="system_ul">
          <li [ngClass]="item.active" (click)="changeItem(item,i)" *ngFor="let item of data.list; let i=index">{{item.name}}</li>
        </ul>
        <div class="system_img" *ngFor="let it of selected">
          <b>{{it.name}}</b>
          <img src={{it.value}} class="img-responsive">
        </div>
      </div>
    </div>
  </div>
</div>