<div class="show_police">
  <div *ngFor="let item of alarm_data"><span>{{item.lvlName}}</span><span>{{item.chlName}}</span><span>{{item.beginTime}}</span><abbr>{{item.dealState}}</abbr></div>
</div>
<div class="main_show">
  <div class="main_left">
    <ul>
      <li *ngFor="let item of alarm_data"><b>{{item.rtVal}} <font>{{item.unit}}</font></b><span>{{item.name}}</span></li>
    </ul>
  </div>
  <div class="main_right">
    <div class="video_main">
      <div class="video_control_box">
        <div class="video_control">
            <fieldset class="login">
                <legend>登录</legend>
                <table cellpadding="0" cellspacing="3" border="0">
                    <tr style="display:none;">
                        <td class="tt">IP地址</td>
                        <td><input id="loginip" type="text" class="txt" value="i.lailibai.com" /></td>
                        <td class="tt">端口号</td>
                        <td><input id="port" type="text" class="txt" value="804" /></td>
                    </tr>
                    <tr style="display:none;">
                        <td class="tt">用户名</td>
                        <td><input id="username" type="text" class="txt" value="admin" /></td>
                        <td class="tt">密码</td>
                        <td><input id="password" type="password" class="txt" value="admin123" /></td>
                    </tr>
                    <tr>
                        <td class="tt" style="display:none;">设备端口</td>
                        <td style="display:none;"><input id="deviceport" type="text" class="txt" /></td>
                        <td>
                            窗口分割
                        </td>
                        <td>
                                <select class="sel2" (change)="video.changeWndNum($event.value);">
                                        <option value="1">1x1</option>
                                        <option value="2">2x2</option>
                                        <option value="3">3x3</option>
                                        <option value="4" selected>4x4</option>
                                </select>
                        </td>
                    </tr>
                    <tr style="display:none;">
                        <td class="tt">RTSP端口</td>
                        <td colspan="3"><input id="rtspport" type="text" class="txt" /></td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <input id="clickLogin" type="button" class="btn2" value="登录" (click)="video.clickLogin();" />
                            <input type="button" class="btn2" value="退出" (click)="video.clickLogout();" />
                            <input type="button" class="btn2" value="获取基本信息" (click)="video.clickGetDeviceInfo();" />
                        </td>
                    </tr>
                    <tr>
                        <td class="tt">已登录设备</td>
                        <td>
                            <select id="ip" class="sel" (change)="video.getChannelInfo();video.getDevicePort();"></select>
                        </td>
                        <td class="tt">通道列表</td>
                        <td>
                            <select id="channels" class="sel"></select>
                        </td>
                    </tr>
                </table>
            </fieldset>
            <fieldset class="ptz">
                    <legend>云台控制</legend>
                    <table cellpadding="0" cellspacing="3" border="0" class="video_control">
                        <tr>
                            <td>
                                <input type="button" class="btn" value="左上" (mousedown)="video.mouseDownPTZControl(5);" (mouseup)="video.mouseUpPTZControl();"
                                />
                                <input type="button" class="btn" value="上" (mousedown)="video.mouseDownPTZControl(1);" (mouseup)="video.mouseUpPTZControl();"
                                />
                                <input type="button" class="btn" value="右上" (mousedown)="video.mouseDownPTZControl(7);" (mouseup)="video.mouseUpPTZControl();"
                                />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="button" class="btn" value="左" (mousedown)="video.mouseDownPTZControl(3);" (mouseup)="video.mouseUpPTZControl();"
                                />
                                <input type="button" class="btn" value="自动" (click)="video.mouseDownPTZControl(9);" />
                                <input type="button" class="btn" value="右" (mousedown)="video.mouseDownPTZControl(4);" (mouseup)="video.mouseUpPTZControl();"
                                />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="button" class="btn" value="左下" (mousedown)="video.mouseDownPTZControl(6);" (mouseup)="video.mouseUpPTZControl();"
                                />
                                <input type="button" class="btn" value="下" (mousedown)="video.mouseDownPTZControl(2);" (mouseup)="video.mouseUpPTZControl();"
                                />
                                <input type="button" class="btn" value="右下" (mousedown)="video.mouseDownPTZControl(8);" (mouseup)="video.mouseUpPTZControl();"
                                />
                            </td>
                        </tr>
                    </table>
                    <table cellpadding="0" cellspacing="3" border="0" class="video_control">
                        <tr>
                            <td class="tt"><input type="button" class="btn2" value="变倍+" (mousedown)="video.PTZZoomIn()" (mouseup)="video.PTZZoomStop()"></td>
                            <td><input type="button" class="btn2" value="变倍-" (mousedown)="video.PTZZoomout()" (mouseup)="video.PTZZoomStop()"></td>
                        </tr>
                        <tr>
                            <td class="tt"><input type="button" class="btn2" value="变焦+" (mousedown)="video.PTZFocusIn()" (mouseup)="video.PTZFoucusStop()"></td>
                            <td><input type="button" class="btn2" value="变焦-" (mousedown)="video.PTZFoucusOut()" (mouseup)="video.PTZFoucusStop()"></td>
                        </tr>
                        <tr>
                            <td class="tt"><input type="button" class="btn2" value="光圈+" (mousedown)="video.PTZIrisIn()" (mouseup)="video.PTZIrisStop()"></td>
                            <td><input type="button" class="btn2" value="光圈-" (mousedown)="video.PTZIrisOut()" (mouseup)="video.PTZIrisStop()"></td>
                        </tr>
                    </table>
                    <table cellpadding="0" cellspacing="3" border="0" class="video_control">
                            <tr>
                                <td class="tt">云台速度</td>
                                <td>
                                    <select id="ptzspeed" class="sel">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4" selected>4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                            </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="tt">预置点号</td>
                                <td><input id="preset" type="text" class="txt" value="1" /></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <input type="button" class="btn" value="设置" (click)="video.clickSetPreset();" />
                                    <input type="button" class="btn" value="调用" (click)="video.clickGoPreset();" />
                                </td>
                            </tr>
                        </table>
                </fieldset>
                <fieldset class="preview" style="display:none;">
                    <legend>预览</legend>
                    <table cellpadding="0" cellspacing="3" border="0">
                        <tr>
                            <td class="tt">码流类型</td>
                            <td>
                                <select id="streamtype" class="sel">
                                    <option value="1">主码流</option>
                                    <option value="2">子码流</option>
                                    <option value="3">第三码流</option>
                                    <option value="4">转码码流</option>
                                </select>
                            </td>
                            <td>
                                <input id="clickStartRealPlay" type="button" class="btn" value="开始预览" (click)="video.clickStartRealPlay();" />
                                <input type="button" class="btn" value="停止预览" (click)="video.clickStopRealPlay();" />
                            </td>
                        </tr>
                        <tr>
                            <td class="tt">音量</td>
                            <td>
                                <input type="text" id="volume" class="txt" value="50" maxlength="3" />&nbsp;<input
                                    type="button" class="btn" value="设置" (click)="video.clickSetVolume();" />（范围：0~100）
                            </td>
                            <td>
                                <input type="button" class="btn" value="打开声音" (click)="video.clickOpenSound();" />
                                <input type="button" class="btn" value="关闭声音" (click)="video.clickCloseSound();" />
                            </td>
                        </tr>
                        <tr>
                            <td class="tt">对讲通道</td>
                            <td>
                                <select id="audiochannels" class="sel">
                      
                  </select>
                                <input type="button" class="btn" value="获取通道" (click)="video.clickGetAudioInfo();" />
                            </td>
                            <td>
                                <input type="button" class="btn" value="开始对讲" (click)="video.clickStartVoiceTalk();" />
                                <input type="button" class="btn" value="停止对讲" (click)="video.clickStopVoiceTalk();" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <input type="button" class="btn" value="抓图" (click)="video.clickCapturePic();" />
                                <input type="button" class="btn" value="开始录像" (click)="video.clickStartRecord('realplay');" />
                                <input type="button" class="btn" value="停止录像" (click)="video.clickStopRecord('realplay');" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <input type="button" class="btn2" value="启用电子放大" (click)="video.clickEnableEZoom();" />
                                <input type="button" class="btn2" value="禁用电子放大" (click)="video.clickDisableEZoom();" />
                                <input type="button" class="btn2" value="启用3D放大" (click)="video.clickEnable3DZoom();" />
                                <input type="button" class="btn2" value="禁用3D放大" (click)="video.clickDisable3DZoom();" />
                                <input type="button" class="btn" value="全屏" (click)="video.clickFullScreen();" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                分辨率：<input id="resolutionWidth" type="text" class="txt" /> x <input id="resolutionHeight"
                                    type="text" class="txt" />
                                <input type="button" class="btn" value="设备抓图" (click)="video.clickDeviceCapturePic();" />
                            </td>
                        </tr>
                    </table>
                </fieldset>
            <fieldset class="ipchannel" style="display:none;">
                <legend>数字通道</legend>
                <table width="100%" cellpadding="0" cellspacing="3" border="0">
                    <tr>
                        <td><input type="button" class="btn2" value="获取数字通道列表" (click)="video.clickGetDigitalChannelInfo();"
                            /></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="digitaltdiv">
                                <table id="digitalchannellist" class="digitalchannellist" cellpadding="0" cellspacing="0" border="0"></table>
                            </div>
                        </td>
                    </tr>
                </table>
            </fieldset>
            <fieldset class="localconfig">
                <legend>本地配置</legend>
                <table cellpadding="0" cellspacing="3" border="0">
                    <tr>
                        <td class="tt">播放性能</td>
                        <td>
                            <select id="netsPreach" name="netsPreach" class="sel">
                  <option value="0">最短延时</option>
                  <option value="1">实时性好</option>
                  <option value="2">均衡</option>
                  <option value="3">流畅性好</option>
              </select>
                        </td>
                        <td class="tt">图像尺寸</td>
                        <td>
                            <select id="wndSize" name="wndSize" class="sel">
                  <option value="0">充满</option>
                  <option value="1">4:3</option>
                  <option value="2">16:9</option>
              </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="tt">规则信息</td>
                        <td>
                            <select id="rulesInfo" name="rulesInfo" class="sel">
                  <option value="1">启用</option>
                  <option value="0">禁用</option>
              </select>
                        </td>
                        <td class="tt">抓图文件格式</td>
                        <td>
                            <select id="captureFileFormat" name="captureFileFormat" class="sel">
                  <option value="0">JPEG</option>
                  <option value="1">BMP</option>
              </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="tt">录像文件打包大小</td>
                        <td>
                            <select id="packSize" name="packSize" class="sel">
                  <option value="0">256M</option>
                  <option value="1">512M</option>
                  <option value="2">1G</option>
              </select>
                        </td>
                        <td class="tt">协议类型</td>
                        <td>
                            <select id="protocolType" name="protocolType" class="sel">
                  <option value="0">TCP</option>
                  <option value="2">UDP</option>
              </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="tt">录像文件保存路径</td>
                        <td colspan="3"><input id="recordPath" type="text" class="txt" />&nbsp;<input type="button" class="btn"
                                value="浏览" (click)="video.clickOpenFileDlg('recordPath', 0);" /></td>
                    </tr>
                    <tr>
                        <td class="tt">回放下载保存路径</td>
                        <td colspan="3"><input id="downloadPath" type="text" class="txt" />&nbsp;<input type="button" class="btn"
                                value="浏览" (click)="video.clickOpenFileDlg('downloadPath', 0);" /></td>
                    </tr>
                    <tr>
                        <td class="tt">预览抓图保存路径</td>
                        <td colspan="3"><input id="previewPicPath" type="text" class="txt" />&nbsp;<input type="button" class="btn"
                                value="浏览" (click)="video.clickOpenFileDlg('previewPicPath', 0);" /></td>
                    </tr>
                    <tr>
                        <td class="tt">回放抓图保存路径</td>
                        <td colspan="3"><input id="playbackPicPath" type="text" class="txt" />&nbsp;<input type="button" class="btn"
                                value="浏览" (click)="video.clickOpenFileDlg('playbackPicPath', 0);" /></td>
                    </tr>
                    <tr>
                        <td class="tt">回放剪辑保存路径</td>
                        <td colspan="3"><input id="playbackFilePath" type="text" class="txt" />&nbsp;<input type="button" class="btn"
                                value="浏览" (click)="video.clickOpenFileDlg('playbackFilePath', 0);" /></td>
                    </tr>
                    <tr>
                        <td class="tt">设备抓图保存路径</td>
                        <td colspan="3"><input id="devicePicPath" type="text" class="txt" />&nbsp;<input type="button" class="btn"
                                value="浏览" (click)="video.clickOpenFileDlg('devicePicPath', 0);" /></td>
                    </tr>
                    <tr>
                        <td colspan="4"><input type="button" class="btn" value="获取" (click)="video.clickGetLocalCfg();" />&nbsp;<input
                                type="button" class="btn" value="设置" (click)="video.clickSetLocalCfg();" /></td>
                    </tr>
                </table>
            </fieldset>
        </div>
        <div class="video_control">
            <fieldset class="draw" style="display:none;">
                <legend>绘图</legend>
                <table cellpadding="0" cellspacing="3" border="0">
                    <tr>
                        <td>
                            <input type="button" class="btn" value="启用绘制" (click)="video.clickEnableDraw();" />
                            <input type="button" class="btn" value="禁用绘制" (click)="video.clickDisableDraw();" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            图形ID：<input id="snapId" type="text" class="txt" /> 名称：
                            <input id="snapName" type="text" class="txt" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="button" class="btn" value="添加图形" (click)="video.clickAddSnapPolygon()" />
                            <input type="button" class="btn" value="删除图形" (click)="video.clickDelSnapPolygon()" />
                            <input type="button" class="btn" value="编辑图形" (click)="video.clickEditSnapPolygon()" />
                            <input type="button" class="btn" value="停止编辑" (click)="video.clickStopSnapPolygon()" />
                            <input type="button" class="btn" value="获取图形" (click)="video.clickGetSnapPolygon()" />
                            <input type="button" class="btn" value="设置图形" (click)="video.clickSetSnapPolygon()" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="button" class="btn" value="清空图形" (click)="video.clickDelAllSnapPolygon()" />
                        </td>
                    </tr>
                </table>
            </fieldset>
            <fieldset class="playback">
                <legend>回放</legend>
                <table width="100%" cellpadding="0" cellspacing="3" border="0">
                    <tr>
                        <td class="tt">码流类型</td>
                        <td>
                            <select id="record_streamtype" class="sel">
                  <option value="1">主码流</option>
                  <option value="2">子码流</option>
              </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="tt">开始时间</td>
                        <td>
                            <input id="starttime" type="text" class="txt" value="2013-12-10 00:00:00" />（时间格式：2013-11-11
                            12:34:56）
                        </td>
                    </tr>
                    <tr>
                        <td class="tt">结束时间</td>
                        <td>
                            <input id="endtime" type="text" class="txt" value="2013-12-11 23:59:59" />
                            <input type="button" class="btn" value="搜索" (click)="video.clickRecordSearch(0);" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div id="searchdiv" class="searchdiv">
                                <table id="searchlist" class="searchlist" cellpadding="0" cellspacing="0" border="0"></table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="button" class="btn2" value="开始回放" (click)="video.clickStartPlayback();" />
                            <input type="button" class="btn2" value="停止回放" (click)="video.clickStopPlayback();" />
                            <input type="button" class="btn" value="倒放" (click)="video.clickReversePlayback();" />
                            <input type="button" class="btn" value="单帧" (click)="video.clickFrame();" />
                            <input id="transstream" type="checkbox" class="vtop" />&nbsp;启用转码码流
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="button" class="btn" value="暂停" (click)="video.clickPause();" />
                            <input type="button" class="btn" value="恢复" (click)="video.clickResume();" />
                            <input type="button" class="btn" value="慢放" (click)="video.clickPlaySlow();" />
                            <input type="button" class="btn" value="快放" (click)="video.clickPlayFast();" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="button" class="btn" value="抓图" (click)="video.clickCapturePic();" />
                            <input type="button" class="btn2" value="开始剪辑" (click)="video.clickStartRecord('playback');" />
                            <input type="button" class="btn2" value="停止剪辑" (click)="video.clickStopRecord('playback');" />
                            <input type="button" class="btn2" value="OSD时间" (click)="video.clickGetOSDTime();" />&nbsp;<input
                                id="osdtime" type="text" class="txt" readonly />
                        </td>
                    </tr>
                </table>
            </fieldset>
            <fieldset class="maintain" style="display:none;">
                <legend>系统维护</legend>
                <table width="100%" cellpadding="0" cellspacing="3" border="0">
                    <tr>
                        <td>
                            <input type="button" class="btn2" value="导出配置文件" (click)="video.clickExportDeviceConfig();" />
                            <input type="button" class="btn2" value="检查插件版本" (click)="video.clickCheckPluginVersion();" />
                            <input type="button" class="btn2" value="远程配置库" (click)="video.clickRemoteConfig();" />
                            <input type="button" class="btn2" value="恢复默认参数" (click)="video.clickRestoreDefault();" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input id="configFile" type="text" class="txt" />&nbsp;<input type="button" class="btn"
                                value="浏览" (click)="video.clickOpenFileDlg('configFile', 1);" />&nbsp;<input type="button"
                                class="btn2" value="导入配置文件" (click)="video.clickImportDeviceConfig();" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input id="upgradeFile" type="text" class="txt" />&nbsp;<input type="button" class="btn"
                                value="浏览" (click)="video.clickOpenFileDlg('upgradeFile', 1);" />&nbsp;<input type="button"
                                class="btn2" value="升级" (click)="video.clickStartUpgrade();" />
                        </td>
                    </tr>
                </table>
            </fieldset>
            <fieldset class="ipparse" style="display:none;">
                <legend>设备IP解析</legend>
                <table cellpadding="0" cellspacing="3" border="0">
                    <tr>
                        <td class="tt">模式</td>
                        <td colspan="3">
                            <select id="devicemode" class="sel" (change)="video.changeIPMode($event.value);">
                  <option value="1">IPServer</option>
                  <option value="2">HiDDNS</option>
              </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="tt">服务器地址</td>
                        <td><input id="serveraddress" type="text" class="txt" value="" /></td>
                        <td class="tt">端口号</td>
                        <td><input id="serverport" type="text" class="txt" value="7071" /></td>
                    </tr>
                    <tr>
                        <td class="tt">设备标识</td>
                        <td><input id="deviceid" type="text" class="txt" value="" /></td>
                        <td class="tt">&nbsp;</td>
                        <td><input type="button" class="btn" value="获取设备IP" (click)="video.clickGetDeviceIP();" /></td>
                    </tr>
                </table>
            </fieldset>
        </div>
        <div class="video_control" style="display:none;">
            <fieldset class="operate">
                <legend>操作信息</legend>
                <div id="opinfo" class="opinfo"></div>
            </fieldset>
            <fieldset class="callback">
                <legend>事件回调信息</legend>
                <div id="cbinfo" class="cbinfo"></div>
            </fieldset>
        </div>
    </div>
    </div>
  </div>
</div>

<!-- <div class="grid grid-pad">
  <a *ngFor="let hero of heroes"  [routerLink]="['/detail', hero.id]"  class="col-1-4">
    <div class="module hero">
      <h4>{{hero.name}}</h4>
    </div>
  </a>
</div> -->
