<!--The content below is only a placeholder and can be replaced.-->
<div class="wapper">
  <header class="header">
    <nav>
      <a routerLink="/dashboard" routerLinkActive="active">主界面</a>
      <a routerLink="/heroes" routerLinkActive="active">系统概况</a>
      <a routerLink="/dashboard" routerLinkActive="active">主界面</a>
      <a routerLink="/heroes" routerLinkActive="active">系统概况</a>
      <a routerLink="/dashboard" routerLinkActive="active">主界面</a>
      <a routerLink="/heroes" routerLinkActive="active">系统概况</a>
      <a routerLink="/dashboard" routerLinkActive="active">主界面</a>
      <a routerLink="/heroes" routerLinkActive="active">系统概况</a>
      <a routerLink="/dashboard" routerLinkActive="active">主界面</a>
      <a>2018-05-25 11:22:11</a>
    </nav>
  </header>
  <router-outlet></router-outlet>
</div>

