<div class="system_select">
    <label>报警级别</label><select [(ngModel)]="alarm_level" (ngModelChange)="selectChange($event,'alarm')">
        <option *ngFor="let item of level" value={{item.id}}>{{item.name}}</option>
    </select>
    <label>处理状态</label><select [(ngModel)]="deal_with" (ngModelChange)="selectChange($event,'deal')">
        <option value="待处理">待处理</option>
        <option value="已响应">已响应</option>
        <option value="已处理">已处理</option>
    </select>
    <label>开始时间</label><label><input [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1"
            [(ngModel)]="selectedMoments"
            [selectMode]="'rangeFrom'"/>
            <owl-date-time #dt1></owl-date-time>
    </label>
    <label>结束时间</label><label><input [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2"
            [(ngModel)]="selectedMoments"
            [selectMode]="'rangeTo'"/>
            <owl-date-time #dt2></owl-date-time>
    </label>
    <label><button (click)="doSearch()">查询</button></label>
</div>
<div class="system_table">
    <!-- <button (click)="addlist()">添加</button> -->
    <table>
        <thead>
            <tr>
                <th>序号</th>
                <th>报警时间</th>
                <th>警情级别</th>
                <th>报警来源</th>
                <th>测点编号</th>
                <th>测点位置</th>
                <th>处理情况</th>
                <th>报警处理</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of table_list; let i = index">
                <td>{{(i+1)}}</td>
                <td>{{item.beginTime}}</td>
                <td>{{item.lvlName}}</td>
                <td>{{item.chName}}</td>
                <td>{{item.id}}</td>
                <td>{{item.location}}</td>
                <td>{{item.dealState}}</td>
                <td width="80">
                    <button class="{{save_disabled?'loading':''}}" data-toggle="modal" data-target="#alarmModal" [disabled]="save_disabled"  (click)="doDeal(item.id)">处理</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="page"><button [disabled]="prev_disabled" (click)="goPage('prev')">上一页</button><button class={{it.selected}} (click)="goPage(it.index)" *ngFor="let it of total">{{it.index}}</button><button [disabled]="next_disabled" (click)="goPage('next')">下一页</button></div>
</div>