<div class="system_table" style="width:90%; margin:50px auto;">
    <!-- <button (click)="addlist()">添加</button> -->
    <table>
        <thead>
            <tr>
                <th colspan="6">原始数据批量下载</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                        <td>数据类型</td>
                        <td>传感器编号</td>
                        <td>开始时间</td>
                        <td>结束时间</td>
                        <td colspan="2">操作</td>
                    </tr>
            <tr>
                <td width="220">
                        <div class="dropdownList">
                        <label class="list" id="dataList" (click)="showSelect('data')"><span *ngFor="let k of dataselected">{{k.name}}</span></label>
                        <div class="dataError">请选择数据类型</div>
                        <ul class="system_ul" id="data">
                          <li [ngClass]="item.active" (click)="changeItem(item,i,'data')" *ngFor="let item of datatype; let i=index">{{item.name}}</li>
                        </ul>
                        </div>
                </td>
                <td width="220">
                    <div class="dropdownList">
                        <label class="list" id="numList" (click)="showSelect('num')"><span *ngFor="let l of numselected">{{l.chName}}</span></label>
                        <div class="numError">请选择传感器编号</div>
                        <ul class="system_ul" id="num">
                        <li [ngClass]="s.active" (click)="changeItem(s,o,'num')" *ngFor="let s of numtype; let o=index">{{s.chName}}</li>
                        </ul></div></td>
                <td width="180"><input class="text" style="width:85%;" [disabled]="interval" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1"
                    [selectMode]="'rangeFrom'" [(ngModel)]="selectedMoments" placeholder="开始时间"/>
            <owl-date-time #dt1></owl-date-time></td>
                <td width="180"><input class="text" style="width:85%;" [disabled]="interval" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2"
                    [selectMode]="'rangeTo'" [(ngModel)]="selectedMoments" placeholder="结束时间"/>
            <owl-date-time #dt2></owl-date-time></td>
                <td colspan="2">
                    <button id="startDownload" (click)="dodownload()">开始下载</button>
                    <div class="fileError">所选内容无对应文件可下载，请重新选择</div>
                </td>
            </tr>
            <tr>
                <td colspan="3"><div id="progressing"><div class="progressbar"></div></div></td>
                <td>已下载 : <span id="downed"></span> / <span id="downedtotal"></span></td>
                <td>预估耗时：<span>{{time}}</span></td>
                <td>文件大小：<span id="fileSize">0</span></td>
            </tr>
        </tbody>
    </table>
</div>